<h2 mat-dialog-title>Nuevo Evento</h2>
<mat-dialog-content>
  <form [formGroup]="eventForm">
    <mat-form-field appearance="outline">
      <mat-label>Nombre del Evento</mat-label>
      <input matInput formControlName="name" placeholder="Ej: Concierto Rock">
      <mat-error *ngIf="eventForm.get('name')?.hasError('required')">El nombre es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ubicación</mat-label>
      <input matInput formControlName="location" placeholder="Ej: Estadio El Campín">
      <mat-error *ngIf="eventForm.get('location')?.hasError('required')">La ubicación es requerida</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha del Evento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="eventDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="eventForm.get('eventDate')?.hasError('required')">La fecha es requerida</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" rows="3" placeholder="Detalles del evento..."></textarea>
      <mat-error *ngIf="eventForm.get('description')?.hasError('required')">La descripción es requerida</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="actions">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="eventForm.invalid || submitting" (click)="onSubmit()">
    {{ submitting ? 'Creando...' : 'Crear Evento' }}
  </button>
</mat-dialog-actions>